.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #3632f8;
}

.logoField {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
}

.logo {
  width: 45%;
}

.searchField {
  font-size: small;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 70%;
  gap: 5px;
}

.searchBar {
  display: flex;
  width: 35%;
  height: 30%;
  border-radius: 5px;
  outline: none;
  border: none;
}

.headerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  gap: 2%;
  margin-right: 20px;
}

.singinButton {
  height: 35%;
  width: 30%;
  border-radius: 5px;
  outline: none;
  border: none;
  background: white;
}

.singupButton {
  height: 35%;
  width: 60%;
  border-radius: 5px;
  outline: none;
  border: none;
  background: white;
}
